# brightess and contrast at 50 50

# This variable contains the name of the subject
Subject = Alexander

# Step for motion of the cursor on the display (in px)
Step = 1

# Name of the folder where the data are stored
DataDestination = Data

######## things that need to be changed between the two posner versions #########

# horizontal offset for the target (in px, 1 px = 1.06 arcmin)
TargetXOffset = 10 
#200 large #10 small; 

# stimuli size in px
TargetSize = 10;
#10; large #5 small

CueSize = 20;
#20 large # 10 small

BoxSize = 50;
#50; large # 10 small

debug = 1;
######################################################################################

FixationSize = 10;

# time for holding initial fixation (in ms)
FixationTime = 500;

# time for cue on
CueTime = 100; # previoulsy 250;

# time between disappearence of cue and appearence of target (now randomly switching between 400 and 700)
CueTargetTime = 300;

# max waiting time for subject response
HoldTime = 2000;

# time for target presentation
TargetTime = 100;


# screen resolution and refresh rate (same for calibration and experiment) in px
X_res = 1024;
Y_res = 768;
RefreshRate = 100;










